.sortableHelper {
  z-index: 9999;
  list-style-type: none;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  margin: 2px 0;
}
#reorderList ul {
  list-style-type: none;
  padding: 0;
}
#reorderList li {
  border: 1px solid;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  margin: 2px 0;
}
#editSettings {
  margin: 5px;
}
