.tweet-container .avatar {
  float: left;
}
.tweet-container .data {
  margin-left: 50px;
}

.main {
  background-color: #f7f0f0;
  margin: 0;
  padding: 0;
}
.tweet-container {
  border-radius: 5px;
  background-color: white;
  margin: 15px;
  padding-right: 5px;
}

.tweet-container a {
  word-wrap: break-word;
}

.avatar img {
  border-radius: 50px;
  margin: 5px;
  height: 40px;
  width: 40px;
}
.tweet-container .header,
.tweet-container .content {
  font-size: 14px;
  word-break: break-all;
  text-align: left;
}
.tweet-link {
  margin-bottom: 10px;
  display: inline-block;
}
.tweet-link a {
  text-decoration: none;
}

.tweets-column {
  background-color: #e6ecf0;
  padding: 5px;
  max-height: 600px;
  overflow: scroll;
}
.fixedHeight {
  height: 600px;
}

.tweet-container .time:before {
  content: "\00b7";
  padding: 2px;
}
.tweet-container .time,
.tweet-container .screen-name {
  color: #657786;
}

.app-settings {
  margin: 5px;
}
.app-settings a {
  text-decoration: none;
}
.loader-wrapper {
  position: relative;
  top: 20%;
  left: 45%;
}
